.DS_Store
*.m~
data/
~/Text Files
Dimension_rating/
story_generation/
story_display/Data_PSD/
story_display/Data_rating/
Dimension_rating_old/
story_display/Old version/
story_display/Story_Pilot
story_display/Wordcloud
